.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.page-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 5vw;
}

.kimberly-chess-img {
  max-width: 2em;
}

.total-unread {
  background-color: hsl(219, 85%, 26%);
  padding: 1px 8px;
  color: hsl(0, 0%, 100%);
  border-radius: 5px;
  cursor: pointer;
}

.all-read {
  border: none;
  background-color: #fff;
}

.notifications-ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  gap: 20px;
}

.update-li {
  display: grid;
  grid-template-columns: 1fr 4fr;
  padding: 2px 5px;
  background-color: hsl(211, 68%, 94%);
  border-radius: 10px;
  cursor: pointer;
}

.update-li-read {
  display: grid;
  grid-template-columns: 1fr 4fr;
  padding: 2px 5px;
  background-color: hsl(210, 60%, 98%);
  border-radius: 10px;
  cursor: pointer;
}

.notifs {
  display: flex;
  flex-direction: column;
}

.notifs p,
.notifs h4 {
  margin: 0;
  padding: 0;
}

.notifs-par {
  display: flex;
  flex-direction: row;
}

#main {
  padding: 10px 20px;
  background-color: hsl(0, 0%, 100%);
}

.user-image {
  max-width: 40px;
  border-radius: 50%;
}

.user-dp,
.notifs {
  padding: 10px 0;
}

.sender-msg-container {
  border: 1px solid hsl(205, 33%, 90%);
  background-color: hsl(0, 0%, 100%);
}

.sender-msg {
  font-size: 16px;
}

.kimberly-chess-img {
  float: right;
  margin-top: 5px;
}

.update-li:nth-child(4) .sender-msg {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vh 15px;
}

.red-dot {
  background-color: hsl(1, 90%, 64%);
  border-radius: 50%;
  width: 5px;
  height: 5px;
  display: flex;
}

@media (min-width: 760px) {
  .page-header {
    padding: 0 27vw;
  }

  .update-li,
  .update-li-read {
    display: grid;
    grid-template-columns: 1fr 5fr;
  }

  .notifications-ul {
    padding: 0 25vw;
  }

  .total-unread {
    padding: 2px 15px;
    border-radius: 10px;
  }

  .notifs {
    margin-left: -25px;
  }

  .kimberly-chess-img {
    float: right;
    margin: -20px 0 0 170px;
  }
}
